<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{asset('bundles/suhGestion/css/bootstrap.min.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{asset('bundles/suhGestion/css/accueil.css')}}" type="text/css"/>
    <!--<link rel="stylesheet" href="{{asset('bundles/suhGestion/js/bootstrap.min.js')}}"/>-->
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jquery.min.js')}}"/></script> 
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/boutonsGestionEtudiant.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/confirmations.js')}}"></script>
    <title>{% block title %} Header {% endblock %}</title>
  </head>
  <!-- HEADER : logo SUH + navbar (accueil, statistiques, deconnexion -->
  {% block header %}
  <header>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
                <a href="{{path('suh_gestion_homepage')}}">
                    <img id="logo" alt="SUH" src="{{asset('bundles/suhGestion/images/logo_suh.png')}}">
                </a>
              </div>
              <div class="col-md-9">
                  <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="liensNavbar"><a id="accueil" href="{{path('suh_gestion_homepage')}}">Accueil</a></li>
                            <li class="liensNavbar"><a href="{{path('suh_gestion_homepage')}}">Statistiques</a></li>
                            <li id="rechercheAvancee" class="liensNavbar"><a href="{{path('suh_gestion_homepage')}}">Recherche avancée</a></li>
                            <li class="liensNavbar"><a href="{{path('suh_import_export_page')}}">Import/Export Excel</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="deconnexion"><a href="{{path('logout')}}">Deconnexion</a></li>
                        </ul>
                    </div>
                </nav>
              </div>
          </div>
      </div>      
  </header>
  {% endblock %}
  <!-- FIN HEADER -->
  
  {% block body %}
      
  {% endblock %}
</html>
