<div id="liste" class="row">
    <ul class="col-md-12">
        {% for etudiant in listeEtudiantsHandicapes %}
            {% if loop.index is even %}
                <li class="pair">
                    <a href="{{ path('suh_get_etudiant', {'id': etudiant['id']})}}">{{etudiant['nomEtudiant']}} {{etudiant['prenomEtudiant']}}</a>
                </li>
            {% else %}
                <li class="impair">
                    <a href="{{ path('suh_get_etudiant', {'id': etudiant['id']})}}">{{etudiant['nomEtudiant']}} {{etudiant['prenomEtudiant']}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="nbResultats" class="row">
    <p class="help-block"> Nombre de résultats : {{listeEtudiantsHandicapes|length}} 
        <span class="badge">{{listeEtudiantsHandicapes|length}}</span></p>
</div>