<div class="spoiler">
    <button class="btn btn-info form-control" title="Click to show/hide content" type="button" 
            onclick="
                    if (document.getElementById('{{ nomSpoiler }}').style.display == 'none')
                    {
                        document.getElementById('{{ nomSpoiler }}').style.display = ''
                    }
                    else
                    {
                        document.getElementById('{{ nomSpoiler }}').style.display = 'none'
                    }">
        {{ texteBouton }}
    </button>
    <div id="{{ nomSpoiler }}" style="display:none"> 
        {{ informations }}
    </div> 
</div>

